* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(input):focus {
    outline: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.around {
    max-width: 500px;
}

.celular.around {
    width: 360px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.celular.around svg {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 540px;
    margin: auto;
    transform: translate(-50%, -50%);
}

.bolinha-detalhe1 {
    background-color: #F0A92C;
    width: 177px;
    height: 177px;
    border-radius: 50%;
    opacity: 1;
    transform: translate(-30%, -40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bolinha-detalhe2 {
    background-color: #8441CD;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    opacity: .5;
    transform: translate(30%, -69%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.icon-caminhao {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-caminhao img {
    width: 81%;
    height: 184px;
    margin-top: 55px;
    margin: 0 auto;
}

.svg-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 0;
    margin-top: 140px;
}

.svg-fundo2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 0;
    margin-top: 0px;
}

.svg-fundo svg,
.svg-fundo2 svg {
    width: 100%;
    height: 100%;
    transform: translateY(-140px);
    position: absolute;
    top: 0%;
    left: 0;
}

main.main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F0A92C;
}

.div-bottom {
    position: absolute;
    bottom: 0;
    height: 50vh;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.div-bottom2 {
    height: auto;
}

.content {
    text-align: center;
}

h3.content-title {
    margin: 10px 0 20px;
}

h3.content-title svg {
    height: 29px;
    width: auto;
}

h4.profile {
    font-weight: bold;
    color: #8441CD;
    font-size: 27px;
}

.content p {
    font-size: 17px;
    font-family: Arial;
    margin: 20px 0 10px;
}

.telefone-box {
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
}

.telefone-box label {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 290px;
    height: 60px;
    border-radius: 8px;
    border: none;
    color: #000;
    padding: 0 60px 0 50px;
    font-size: 19px;
    border: 3px #8441cd solid;
}

span.input-icon {
    position: absolute;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.btn-logar {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: #8441CD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-destino {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
}

.icon-main svg {
    height: 270px;
    width: auto;
}

.escolher {
    position: absolute;
    bottom: 0;
    height: 60vh;
    padding: 0 20px;
}

h4.profilePerson {
    font-size: 21px;
    color: #fff;
}

h4.main-title {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 29px;
    line-height: 37px;
    color: #8441CD;
    margin-bottom: 35px;
}

span.icon-input-partida,
span.icon-input-destino {
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-destino .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-destino .input-container input {
    width: 100%;
}

.span-detalhe {
    width: 1px;
    height: 90px;
    border: 2px dashed #8441CD;
    margin: auto;
}

.iniciar-rota {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    color: #fff;
    border: none;
    font-size: 32px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #8441CD;
    box-shadow: 0px 2px 0px #CC8F23;
    margin: 30px auto;
}

.inputs-destino {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

h3.resumo-title {
    font-size: 31px;
    /* identical to box height */
    letter-spacing: 0.4px;
    color: #8441CD;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: block;
    margin-left: 13px;
}

.resumo {
    height: 100%;
    padding: 40px 10px;
}

.resumo-items {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 20px 0 0;
}

.resumo-items-item {
    background-color: #fff;
    border: 2px #8441CD solid;
    border-radius: 11px;
    width: 140px;
    height: 160px;
    margin: 10px 0;
    text-align: center;
    padding: 5px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.item.icon {
    height: 72px;
}

.item.icon svg {
    height: 100%;
    width: auto;
}

.item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 10px;
}

.item-content p {
    margin: 0;
    font-size: 16px;
    color: #8441CD;
    margin-top: -5px;
}

.item-content span {
    font-family: Ubuntu, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #8441CD;
}

.finalizarResumo {
    width: 200px;
    height: 60px;
    left: 80px;
    top: 660px;
    background: #8441CD;
    box-shadow: 0px 2px 0px #CC8F23;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.notifications-object {
    height: a;
    border: 4px #8441cd solid;
    border-radius: 11px;
    height: a;
    width: 100%;
}

.notification-close {
    background-color: transparent;
    border: none;
    font-size: 31px;
    padding: 0 14px;
    margin: 0;
    position: absolute;
    right: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8441cd;
}

.notification-inner {
    padding: 15px;
}

.notification-btnOk {
    background: #e4950a;
    border: none;
    padding: 7px 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    font-size: 18px;
}

.notifications-box {
    width: 90%;
    z-index: 2;
    margin: 20px auto;
}

.left {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 11px 10px 10px;
}

.right {
    width: 70%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.left svg {
    width: auto;
    height: 57px;
}

.right h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #8441CD;
    margin: 19px 0 5px;
}

.right p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8441CD;
}

.yellow {
    color: #f0a92c;
}

.notf {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px 0 5px;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #fff;
    opacity: 1;
    border-radius: 11px 0 0 11px;
    transform: translateX(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.logo-bino {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-bino svg {
    width: 160px;
    height: 51px;
    z-index: 5;
}

.inputs-box-dados {
    width: 290px;
    margin: auto;
}

.inputs-box-dados .input-container {
    margin: 10px auto;
}

.inputs-box-dados .input-container input {
    width: 100%;
    font-size: 14px;
    padding: 0 0 0 50px;
}

.btn-entrar {
    background: #8441cd;
    width: 198px;
    height: 51px;
    display: flex;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: Roboto;
    margin: 20px auto;
}

.btn-entrar svg {
    margin-left: 15px;
    margin-top: 3px;
}

.pedagios-title {
    margin: 35px 15px;
}

.pedagios-title h3 {
    font-size: 31px;
    letter-spacing: 0.4px;
    color: #8441CD;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.ul {
    width: 100%;
    padding: 0 25px;
    list-style: none;
}

.ul li {
    margin: 10px;
    border: 4px #7439b5 solid;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 0;
    position: relative;
}

.pedagio-content {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    text-align: center;
    flex-flow: wrap;
    margin: 10px 0;
}

.btn-voltar {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    margin: 30px 0px 0 20px;
    display: flex;
    align-items: center;
}

.pedagio-content p {
    margin: 0;
}

.btn-voltar svg {
    width: 20px;
    height: 20px;
    padding: 0px;
}

.btn-voltar span {
    background: #7439b5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 19px;
}

span.voltar-text {
    background: none;
    width: auto;
    height: auto;
    /* margin: 0 0 0 15px; */
}

.exerciocios-header {
    margin: 30px 40px 30px;
}

.exerciocios-header h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 21px;
    /* identical to box height */
    color: #8441CD;
}

.exerciocios-header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 16px;
    color: #8441CD;
    margin: 10px 0;
}

.exercicios-slide {
    width: 90%;
    margin: auto;
    display: block;
    height: auto;
}

.exercicio-item p {
    color: #8b4bd0;
    text-align: center;
    font-size: 18px;
}

.exercicio-item {
    margin: 40px 30px 50px;
    text-align: center;
    box-shadow: 2px 2px 15px 0px #583c0ab5;
    border-radius: 10px;
    padding: 10px 10px 30px;
    background: #fff;
    overflow: hidden;
}

.exercicio-item .img {
    width: 90%;
    height: 206px;
    background-size: contain;
    margin: 0 auto 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.exercicios-slide .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: #8542cd;
    border-radius: 50%;
    border: none;
    left: 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercicios-slide .slick-next {
    right: 10px;
    left: auto;
}

.exercicios-slide .slick-arrow::after {
    content: '>';
    position: absolute;
    top: 11px;
    left: 18px;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-weight: 900;
    transform: scaleX(1.2) scaleY(2.5);
}

.exercicios-slide .slick-prev::after {
    transform: scaleX(1.2) scaleY(2.5) rotateY(180deg);
    right: 17px;
}

.inputs-destino input.input-partida {
    padding: 0 0px 0 60px;
}

.inputs-box-dados .cadastrado {
    text-align: center;
    display: block;
    font-size: 18px;
}

.notificacoes-btn {
    border-radius: 50%;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #914dba;
    border: 5px #914dba solid;
}

header.resumo-header {
    display: flex;
}